/* header */
header {
    background-color: black;
    color: white;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.container {
    max-width: 1400px;
}

form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

form input {
    max-width: 250px;
    height: 30px;

}

.logo img {
    width: 30%;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main */

body {
    background-color: rgb(44, 44, 44);
}

.category {
    color: white;
}

/* card */

.card {
    text-align: center;
    border: none;
    aspect-ratio: 2/3;
    overflow-y: auto;
    margin: 10px;
}

.card li {
    height: 100%;
}

.card-img-top {
    height: 100%;
    object-fit: cover;
}


.card-body {
    display: none;
    background-color: black;
    color: white;
    font-size: 12px;
}

/* stars */
i.fa-solid {
    color: gold;
}

span {
    font-size: 14px;
    color: darkgray;
}

/* hover */

.card:hover {
    /* display: block; */
    transform: scale(1.20);
    transition: 1.5s;
    position: relative;
    z-index: 1;
}

.card:hover .card-img-top {
    display: none;
}

.card:hover .card-body {
    display: block;
}