/* header */
header {
    background-color: black;
    color: white;
    padding: 5px;
}

.container {
    max-width: 1400px;
}

form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

form input {
    max-width: 250px;
    height: 30px;

}

.logo img {
    width: 30%;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main */

main {
    background-color: rgb(44, 44, 44);
}

.category {
    color: white;
}

/* card */

.card {
    text-align: center;
    border: none;
}

.card-body {
    display: none;
}

/* stars */
i.fa-solid {
    color: gold;
}